@charset "UTF-8";



#newquestiontitlearea{
	line-height:52px;
	
}

#addBox,#deleteBox,#submitbutton{
	background: #ededed;
  border: 1px solid #ccc;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
}

#addBox:hover,#deleteBox:hover,#submitbutton:hover {
  background: #e5e5e5;
}

.inputbox{
	width: 600px;

}



