@charset "UTF-8";



#newquestiontitlearea{
	line-height:52px;
	
}

#addBox,#deleteBox,#submitbutton{
	background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#addBox:hover,#deleteBox:hover,#submitbutton:hover {
  background: #13a456;
}

.inputbox{
	width: 600px;

